.list-controls button:first-child {
  margin-left: 0.25rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border-right: hidden;
}

.list-controls .btn[data-active="true"] {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.list-controls .btn:nth-child(2):hover {
  border-color: #007bff;
  background-color: #007bff;
  color: #fff;
}

.list-controls button:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: hidden;
}

.list-controls button {
  border-color: #c0c0c0;
  border-radius: 0;
}
